@* @model IEnumerable<MVCPracticeLesson1.Entities.Employee>

<!DOCTYPE html>
<html>
    <head></head>
    <body>
        @foreach (var item in Model)
    {
        <div>
            <h1>Firstname: @item.Firstname</h1>
            <h1>Lastname: @item.Lastname</h1>
            <div>
                <span>User ID: @item.Id</span>
            </div>
        </div>
    }   
   </body>
</html> *@

@model MVCPracticeLesson1.Models.EmployeeViewModel

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    @foreach (var item in Model.Employees)
    {
        <div>
            <h1>Firstname: @item.Firstname</h1>
            <h1>Lastname: @item.Lastname</h1>
            <div>
                <span>User ID: @item.Id</span>
            </div>
        </div>
    }
    @foreach(var item in Model.Cities)
    {
        <h2>@item</h2>
    }
</body>
</html>